<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nlte.phonesafe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 获取系统引导完成事件 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 发短信的权限 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!--收短信的权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!--读取短信信息的权限-->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ft_logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" 隐藏标题栏 -->
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".GuideActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- android:launchMode="singleTask"：单任务模式 -->
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".LostFindActivity">
        </activity>
        <activity android:name=".Setup1Activity">
        </activity>
        <activity android:name=".Setup2Activity">
        </activity>
        <activity android:name=".Setup3Activity">
        </activity>
        <activity android:name=".Setup4Activity">
        </activity>

        <!-- 注册广播接收器 -->
        <receiver android:name=".receiver.BootCompliteReceiver">
            <!-- 订阅手机系统引导完成事件 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ContactActivity">
        </activity>

        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter android:priority="1000">
                <!--订阅广播事件类型-->
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>